{%extends 'base.html'%}

{%block body%}


<body style="background-image: url(https://wallpapercave.com/wp/wp8155395.png);">
    <div class="container">
        <div class="row">
            <div class="col-6 " style="margin-top: 200px;">
                <img src="https://cdn.dribbble.com/users/3096556/screenshots/10374692/media/800b18ae9db35f9f73d3350bf6fe209d.png?compress=1&resize=1000x750&vertical=top" alt="" width="500px">
        
            </div>
            <div class="col-6 " style="margin-top: 200px;">
                <h2 class="text-light-emphasis">About Me</h2>
                <h4 class="text-light-emphasis">Pokemon Trainer</h4>
                <h6 class="text-light-emphasis">
                    I am a Pokémon Trainer from Pallet Town and my  goal is to become a Pokémon Master. My starter Pokémon was a Pikachu that i received from Professor Oak after arriving late at his laboratory. On my journeys around the Pokémon world, i have  been accompanied by a multitude of close friends.
                </h6>
                <button class="btn btn-danger rounded-pill mt-3">Lets talk</button>
            </div>
        </div>
    </div>
</body>

{%endblock%}
