{%extends 'base.html'%}


{%block body%}

<!-- body starts -->

<body style="background-image: url(https://wallpapercave.com/wp/wp8155395.png);">
    <div class="container">
        <div class="row">
            <div class="col-6 " style="text-align: left ; margin-top: 100px;" >
                <h5 class="text-danger mt-5"> Hello my name is</h5>
                <h1 class="text-danger">Ash Ketchum</h1>
                <h3 class="text-danger">I am a Pokemon Trainer</h3>
                <div class="input-group mb-5">
                    <input type="text" class="form-control rounded-pill mt-5" placeholder="search for a pokemon" aria-label="enter your name" aria-describedby="button-addon2">
                    <button class="btn btn-danger rounded-pill mt-5" type="button" id="button-addon2">Search</button>
                  </div>
            </div>
            <div class="col-6 mt-5" >
                <img src="https://cdnb.artstation.com/p/assets/images/images/038/335/567/smaller_square/james-wayte-ash-ketchum.jpg?1622804999" alt="" style="margin-top: 100px;">
            </div>
        </div>
    </div>
</body>

{%endblock%}